.terraform
local
__pycache__
.venv
.vscode

*.tfstate
*.tfstate.backup
*.tfplan
*.tfvars
backend.conf

.env
.env.test
!.env.example
.secrets


node_modules
dist
clusters.yml
.DS_Store
**/.DS_Store
certs