@import "tailwindcss";

@source "../app/**/*.{js,ts,jsx,tsx,mdx}";

@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";

@theme {
  --color-purple-50: var(--purple-50);
  --color-purple-200: var(--purple-200);
  --color-purple-600: var(--purple-600);
  --color-purple-700: var(--purple-700);
  --color-purple-900: var(--purple-900);

  --color-gray-25: var(--gray-25);
  --color-gray-50: var(--gray-50);
  --color-gray-200: var(--gray-200);
  --color-gray-300: var(--gray-300);
  --color-gray-400: var(--gray-400);
  --color-gray-500: var(--gray-500);
  --color-gray-600: var(--gray-600);
  --color-gray-700: var(--gray-700);
  --color-gray-800: var(--gray-800);
  --color-gray-900: var(--gray-900);

  --color-success-50: var(--success-50);
  --color-success-200: var(--success-200);
  --color-success-500: var(--success-500);
  --color-success-600: var(--success-600);
  --color-success-700: var(--success-700);

  --color-error-50: var(--error-50);
  --color-error-200: var(--error-200);
  --color-error-700: var(--error-700);
}

html,
body,
:root {
  height: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  color: #111827;
  background: white;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#__next {
  height: 100%;
}

img {
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}