---
apiVersion: alertreaction.io/v1alpha1
kind: AlertReaction
metadata:
  name: redis-crash-alert
  namespace: observability
spec:
  alertName: RedisCrashed
  actions:
  - name: call-n8n-redis-crash-webhook
    image: dudizimber/karo-reactions-webhook-sender:v0.2.0
    serviceAccount: alert-reaction-actions-sa
    env:
    - name: WEBHOOK_URL
      valueFrom:
        secretKeyRef:
          name: redis-crash-alert-env
          key: url
    - name: TIMEOUT_SECONDS
      value: "30"
    - name: AUTH_HEADER
      valueFrom:
        secretKeyRef:
          name: redis-crash-alert-env
          key: auth-header
    - name: ALERT_JSON
      valueFrom:
        alertRef:
          fieldPath: "."