apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: ldap-auth

resources:
  - ../../base/
  - https://github.com/FalkorDB/ldap-auth-rs.git//k8s/overlays/dev

patches:
  - target:
      kind: Deployment
      name: ldap-auth-rs
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/image
        value: "docker.io/falkordb/ldap-auth-rs:latest"
  - target:
      kind: ConfigMap
      name: ldap-auth-config
    patch: |-
      - op: replace
        path: /data/LDAP_BASE_DN
        value: "dc=falkordb,dc=cloud"
      - op: replace
        path: /data/LDAP_SEARCH_BIND_ORG
        value: "admin"

patchesStrategicMerge:
  - |-
    apiVersion: monitoring.coreos.com/v1
    kind: ServiceMonitor
    metadata:
      name: ldap-auth-metrics
    $patch: delete
