apiVersion: v1
kind: Service
metadata:
  name: customer-ldap-api
  labels:
    app: customer-ldap-api
    app.kubernetes.io/name: customer-ldap-api
    app.kubernetes.io/component: api
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: customer-ldap-api
